.footer {
    height: var(--size-footer);
    margin-top: var(--margin-negative-footer);
    text-align: center;
    padding-bottom: 16px;
    box-sizing: border-box;
}

.footer_title {
    padding: 16px;

    @media (min-width: 768px) {
        font-size: 24px;
        padding: 27px 0;
    }

    @media (min-width:1024px) {
        padding: 32px;
    }
}

.footer_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;

    @media (min-width: 768px) {
        margin-top: 0;
        justify-content: space-evenly;
        padding-bottom: 32px;
    }
}

.footer_links-icone {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--color-border);
    box-shadow: 5px 10px 5px #C0C0C0;
}

.footer_links-icone:hover {
    background-color: var(--color-hover);
}