:root {
  --text-primary: #000000;
  --text-secundary: #FF8C00;
  --bg-primary: #F5F5DC;
  --color-border: #ff8c00ef;
  --color-hover: #FF8C00;
  --font-principal: 'Roboto', sans-serif;
  --size-footer: 111px;
  --margin-negative-footer: -111px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-principal);
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.wrapper {
  min-height: 100%;
  padding: 16px 16px var(--size-footer);
  box-sizing: border-box;
  text-align: center;
}



.avatar {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--color-border);
  box-shadow: 5px 10px 5px #C0C0C0;

  @media (min-width:1024px) {
    width: 30%;
  }
}

.profile {
  margin-bottom: 65px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width:1024px) {
    justify-content: space-evenly;
  }
}

.profile-title {
  color: var(--text-secundary);
  margin-top: 24px;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width:1024px) {
    font-size: 38px;
  }
}

.profile-subtitle {
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width:1024px) {
    font-size: 20px;
  }
}